@tailwind base;
@tailwind components;
@tailwind utilities;

.bar-container {
    background: white;
    border: 1px solid #999;
    width: 40%;
    height: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5%;
    transition: 0.3s;
  }
  .bar {
    background: black;
    width: 100px;
    height: 100%;
  }